.DS_Store
LedMapper.xcodeproj/project.xcworkspace/xcuserdata/*
ledMapper.xcodeproj/project.xcworkspace/xcuserdata/*
ledMapper.xcodeproj/xcuserdata/*

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.app
